VITE_API_URL=http://localhost:5000
VITE_FIREBASE_API_KEY= "AIzaSyAo8f9C2H86mWwk4EUQNyHXlk3mKsHt5Fw"
VITE_FIREBASE_AUTH_DOMAIN="nyayasaathi-b8404.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="nyayasaathi-b8404"
VITE_FIREBASE_STORAGE_BUCKET="nyayasaathi-b8404.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="593345338936"
VITE_FIREBASE_APP_ID="1:593345338936:web:573cdfdc5c1ec23df4d0cd"
